<table>
  <thead>
    <th>Id</th>
    <th>Products</th>
    <th>Date</th>
    <th>Price</th>
  </thead>
  <tbody>
    <tr *ngFor="let venda of vendas">
      <td>{{venda.id}}</td>
      <td>{{venda.products}}</td>
      <td>{{venda.date | date}}</td>
      <td>{{venda.price | currency}}</td>
        <button type="button" (click)="editVenda(venda)">Editar</button>
        <button type="button" (click)="deleteVenda(venda)"> Deletar</button>
    </tr>
  </tbody>
</table>
<form (ngSubmit)="f.form.valid && saveVenda(f)" #f="ngForm" novalidate>
  <div class="products">
    <label for="products">Produto</label>
    <input type="text" [(ngModel)]="venda.products" id="products" name="products" #product="ngModel">
  </div>
  <div class="date">
    <label for="date">Data</label>
    <input type="date" [(ngModel)]="venda.date" name="date" id="date" #date="ngModel">
  </div>
  <div class="price">
    <label for="price">Preço</label>
    <input type="number" [(ngModel)]="venda.price" name="price" id="price" #price="ngModel">
  </div>
  <button type="submit">Salvar</button>
  <button type="reset" (click)="cleanForm(f)">Resetar</button>
</form>
