<div>
    <h3>Editar Venda</h3>
  </div>
  <form class="example-container" [formGroup]="productForm" (ngSubmit)="updateVenda(productForm.value)">
    <mat-form-field>
      <h4>Data de entrega:</h4>
      <input type="date" matInput name="purchase_date"  formControlName="purchase_date">
    </mat-form-field><br>
    <mat-form-field>
      <h4>Preço do produto:</h4>
      <input matInput name="price" formControlName="price">
    </mat-form-field><br>

    <button type="submit" [disabled]="!productForm.valid" mat-raised-button color="primary">Editar</button>
  </form>